#Navigation Aliases
alias otx="opr TemplateX"
alias oax="opr AppX"
dirProjects=~/Projects
dirProjectWeb="${dirProjects}"/TemplateX
dirProjectApp="${dirProjects}"/AppX

#Build Aliases & Variables
buildProperties="${dirProjects}"/build.properties