# Navigation Aliases

alias tx="propn TemplateX"
alias txs="propn TemplateX -s"
alias txe="pope TemplateX"
alias mx="propn MailX"
alias mxs="propn MailX -s"
alias mxe="pope MailX"
alias nx="propn AppXN"
alias nxs="propn AppXN -s"
alias nxe="pope AppXN"
alias la="propn LuchaAsteroid"
alias las="propn LuchaAsteroid -s"
alias lae="pope LuchaAsteroid"
alias txp="propn TemplateXPatterns"
alias txps="propn TemplateXPatterns -s"
alias txpe="pope TemplateXPatterns"
alias tmp="cd ${dirTemp}"
alias fdr="open ."

# Development Aliases

alias pst="prstp -n"
alias pstr="prstp -b rutorika -n"
alias pop=propn
alias pwt=prwtch
alias pbd=prbld
alias pbf="prbld -f"
alias psv=prsrv
alias pct=prcmt
alias prn=prrnm
alias pkey="more ~/.ssh/id_rsa.pub | pbcopy | echo 'Public Key Copied to Clipboard'"
alias npmr="rm -rf ./node_modules && npm cache clear && npm i --save-dev"

alias pctu='prcmt -m "Project Update"'
alias pctf='prcmt -m "Project Fixes"'

# Environment Aliases

alias upbrew = "brew -v update; brew upgrade --force-bottle --cleanup; brew cleanup; brew cask cleanup; brew prune; brew doctor"
alias upnpm = "npm-check -g -u; npm install npm -g; npm update -g"
alias upgem = "sudo gem update --system; sudo gem update --no-document"
alias upd = "updbrew; updnpm; updgem"
