#Open Project
function propn() {
	if [[ -n "$1" ]]
		then
			cd "${dirProjects}"/$1
		else
			cd "${dirProjects}"
	fi
}

#Setup Web Project
function prstp() {
	if [[ -n "$1" ]]
		then
			echo "Setting Up Project $1"
			propn
			if [[ ! -d $1 ]]
				then
					mkdir $1
			fi
			cd $1
			cp -R "${dirProjectWeb}"/dev .
			cp "${dirProjectWeb}"/gruntfile.js "${dirProjectWeb}"/csscombConfig.json "${dirProjectWeb}"/package.json .
			mkdir ./meta ./design ./sources
			find . \( -name ".DS_Store" \) -type f -delete
			find ./dev -type d -empty -delete
			perl -pi -w -e "s/TemplateX/"$1"/g;" ./gruntfile.js
			while true; do
					read -p "Do You Want to Install npm Dependencies (y/n)? " ynnpm
					case $ynnpm in
							[Yy]*)
								npm install
								break
								;;
							[Nn]*)
								break
								;;
							*)
								echo "Please Answer Yes or No"
								;;
					esac
			done
		else
			echo "Please Enter Project Name"
	fi
}

#Setup App Project
function apstp() {
	if [[ -n "$1" ]]
		then
			echo "Setting Up App Project $1"
			propn
			if [[ ! -d $1 ]]
				then
					mkdir $1
			fi
			cd $1
			cp -R "${dirProjectApp}"/project .
			cp "${dirProjectApp}"/gruntfile.js "${dirProjectApp}"/csscombConfig.json "${dirProjectApp}"/package.json .
			mkdir ./meta ./design ./sources
			find . \( -name ".DS_Store" \) -type f -delete
			find ./dev -type d -empty -delete
			perl -pi -w -e "s/AppX/"$1"/g;" ./gruntfile.js
			if [[ -n "$2" ]]
				then
					perl -pi -w -e "s/appx/"$2"/g;" ./gruntfile.js
				else
					perl -pi -w -e "s/appx/"$1"/g;" ./gruntfile.js
			fi
			while true; do
					read -p "Do You Want to Install npm Dependencies (y/n)? " ynnpm
					case $ynnpm in
							[Yy]*)
								npm install
								break
								;;
							[Nn]*)
								break
								;;
							*)
								echo "Please Answer Yes or No"
								;;
					esac
			done
		else
			echo "Please Enter Project and JavaScript Package Names"
	fi
}

#Watch Current Project with Sass
function prsass() {
	if [[ -d dev ]]
		then
			compass=false
			while getopts ":c" opt; do
				case "${opt}" in
					c)
						compass=true
						;;
					\?)
						echo "Invalid Parameters"
						exit
						;;
				esac
			done
			if $compass
				then
					sass --compass --sourcemap --style expanded --watch dev/res/sass-dev:dev/res/css-dev
				else
					sass --sourcemap --style expanded --watch dev/res/sass-dev:dev/res/css-dev
			fi
		else
			echo "Nothing to Watch / Update Project Structure"
	fi
}

#Watch Current Project with Grunt.JS Task
function prwtch() {
	if [[ -d dev ]]
		then
			reload=false
			while getopts ":l" opt; do
				case "${opt}" in
					l)
						reload=true
						;;
					\?)
						echo "Invalid Parameters"
						exit
						;;
				esac
			done
			if $reload
				then
					grunt concurrent:projectWatch
				else
					grunt concurrent:projectWatchReload
			fi
		else
			echo "Nothing to Watch"
	fi
}

#Build Current Project with Grunt (by Default) or ANT
function prbld() {
	shareFlag=false
	builder="grunt"
	while getopts ":sa" opt; do
		case "${opt}" in
			s)
				shareFlag=true
				;;
			a)
				builder="ant"
				;;
			\?)
				echo "Invalid Parameters"
				exit
				;;
		esac
	done
	OPTIND=1
	if [ "$builder" == "ant" ]
		then
			if $shareFlag
				then
					ant -propertyfile $buildProperties -Dbuild.share=share
				else
					ant -propertyfile $buildProperties
			fi
		else
			if $shareFlag
				then
					grunt build-share
				else
					grunt build
			fi
	fi
	find ./build -type d -empty -delete
}

#Start Local HTTP Server and Serve Current Project by Default (or Its Build)
function server() {
	port=8000
	dir="dev"
	while getopts ":d:p:" opt; do
		case "${opt}" in
			d)
				dir=$OPTARG
				;;
			p)
				port=$OPTARG
				;;
			\?)
				echo "Invalid Parameters"
				exit
				;;
		esac
	done
	OPTIND=1
	if [[ -d $dir ]]
		then
			cd $dir
			open "http://localhost:${port}/"
			python -c $'import SimpleHTTPServer;\nmap = SimpleHTTPServer.SimpleHTTPRequestHandler.extensions_map;\nmap[""] = "text/plain";\nfor key, value in map.items():\n\tmap[key] = value + ";charset=UTF-8";\nSimpleHTTPServer.test();' "$port"
			cd ..
		else
			echo "Nothing to Serve / Missing Directory"
	fi
}

#Start All Browsers (Current Versions or Nightly Builds) with Custom URL or http://localhost:8000 by Default
function browsers() {
	nightlyFlag=false
	url="http://localhost:8000/"
	while getopts ":nu:" opt; do
		case "${opt}" in
			n)
				nightlyFlag=true
				;;
			u)
				url=$OPTARG
				;;
			\?)
				echo "Invalid Parameters"
				exit
				;;
		esac
	done
	OPTIND=1
	if $nightlyFlag
		then
			open -a Google\ Chrome\ Canary $url
			open -a Opera\ Next $url
			open -a WebKit $url
			open -a FirefoxNightly $url
		else
			open -a Google\ Chrome $url
			open -a Opera $url
			open -a Safari $url
			open -a Firefox $url
	fi
}